* {
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header ul {
  display: flex;
  gap: 16px;
}

.header {
  display: flex;
  padding: 8px 128px;
  background-color: #1F2937;
  flex: 0 0 auto;
}

.logo {
  margin-right: auto;
  color: #F9FAF8;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1F2937;
  gap: 32px;
  padding: 96px;
  flex: 1 1 auto;
}

.hero div {
  flex: 0 1 400px
}

h1 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 1000;
  margin: 0;
}

.header p, .hero p {
  color: #E5E7EB;
  margin: 0;
  flex: 0 0 auto;
}

button, .call {
  background-color: #3882F6;
  padding: 8px 32px;
  border-radius: 8px;
  border: none;
  margin-top: 8px;
  color: #E5E7EB;
}

.placeholder {
  background-color: #9d9fa397;
  align-self: center;
  padding: 96px 80px;
  flex-basis: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E5E7EB;
}

.information {
  flex: 1 1 auto;
  padding-bottom: 96px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  border: 3px solid #3882F6;
  border-radius: 8px;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  text-align: center;
}

.boxes li {
  flex-basis: 160px;
  text-align: center;
  font-size: 17px;
}

li p {
  margin: 4px 0;
}

h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 1000;
  color: #1F2937;
  margin: 32px;
}

.quote {
  background-color: #E5E7EB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  flex: 1 1 auto;
  padding: 96px;
}

.quotetext {
  margin: 16px 0 0 0;
  width: 720px;
  text-align: left;
  font-size: 36px;
  font-weight: 200;
  color: #1F2937;
}

.credit {
  text-align: end;
  width: 720px;
  margin: 0;
}